/* Author: Nicholas Phillpott
 * A CSS file that contains some custom changes
 */
 
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}
 
/*
 * Add on for table cell formating
 */
.my-column {
     word-break: break-all;
     word-wrap: break-word;
}